/* parent Property */
.Team{
 display: flex;
 justify-content: space-around;
 height: 100vh;
 align-items: center;

}

/* .child propeties */
.team-card{
    border: 1px solid green;
    width: 150px;
    height: 250px;
    box-shadow: 4px 3px 5px 3px white;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: aqua;
    /* animations */
    animation-name:example;
    animation-duration: 10s;
    animation-iteration-count:infinite ;
    /* animation-delay: 2s; */
    animation-timing-function: ease-in-out;
    animation-fill-mode:forwards;
    animation-direction: alternate;
}

@keyframes example {
    0%{
       background-color: rgb(185, 255, 127);
       transform: translateX(5px);
    }20%{
       background-color: orangered;
        transform: translateX(15px);
    }40%{
         background-color: blue;
         transform: translateX(20px);
    }60%{
       background-color: palevioletred;
        transform: translateX(25px) scale(1.2) ;
    }80%{
      background-color: azure;
          transform: translateX(-30px) scale(1.2);
    }100%{
            background-color: rgb(222, 22, 22);
          transform: translateX(-30px) scale(.94) rotate(360deg);
    }
}




/* @keyframes example {
    from{
       background-color: rgb(185, 255, 127);
    }to{
       background-color: orangered;
    }
} */
 .team-card-2{
    animation: example-2 15s linear 1s infinite reverse forwards;
    transition: all 2s linear;
 }

 @keyframes example-2 {
    0%{
       background-color: rgb(185, 255, 127);
       transform: translateY(5px);
    }20%{
       background-color: orangered;
        transform: translateY(15px);
    }40%{
         background-color: blue;
         transform: translateY(20px);
    }60%{
       background-color: palevioletred;
        transform: translateY(25px) scale(1.3) ;
    }80%{
      background-color: azure;
          transform: translateY(-30px) scale(1.2);
    }100%{
            background-color: rgb(222, 22, 22);
          transform: translateY(-30px) scale(.94) rotate(45deg);
    }
}

.team-card-2:hover{
    animation-play-state: paused;
}
