h1{
    color:red ;

    /* rgb colors */
    color: rgb(0,0,0); 
    color: rgb(255,255,255); 
    color: rgb(255,0,0); 
    color: rgb(0,255,0); 
    color: rgb(0,0,255); 
    color: rgb(125, 125, 153); 
    color: rgba(36, 36, 219, 0.203); 

    /* hexa decimal colors */
    color: #000000;
    color: #000;
    color: #ffffff;
    color: #fff;
    color: #2a3f;
    color: #6ec;

    /* hsl */
    color: hsl(120, 82%, 52%);
    color: hsl(60deg, 82%, 52%);
    color: hsl(0deg, 82%, 52%);
    color: hsla(0, 82%, 52%, 0.568);
    color: rgb(52, 152, 219);
    color: rgb(231, 76, 60);
    background-color:  hsl(60deg, 82%, 52%);
    /* gradient colors */
    /* background-image: linear-gradient(yellow ,orange,pink); */
}
body{
    /* background-image: linear-gradient(to left,orange,white,pink,blue); */
    /* background-image: linear-gradient(90deg,orange 30%,white ,pink 60% ,blue); */
    background-image: radial-gradient(green,red,blue);
    background-image: conical-gradient(orange,blue);

background-image: radial-gradient(50% 50% at 50% 50%, transparent 0%, transparent 75%, #B6CC66 76%, #B6CC66 85%, #EDFFDB 86%, #EDFFDB 94%, #FFFFFF 95%, #FFFFFF 103%, #D9E6A7 104%, #D9E6A7 112%, #798B3C 113%, #798B3C 121%, #FFFFFF 122%, #FFFFFF 130%, #E0EAD7 131%, #E0EAD7 140%),radial-gradient(50% 50% at 50% 50%, #FFFFFFFF 0%, #FFFFFFFF 75%, #B6CC66 76%, #B6CC66 85%, #EDFFDB 86%, #EDFFDB 94%, #FFFFFF 95%, #FFFFFF 103%, #D9E6A7 104%, #D9E6A7 112%, #798B3C 113%, #798B3C 121%, #FFFFFF 122%, #FFFFFF 130%, #E0EAD7 131%, #E0EAD7 140%);
}

