.dashboard{
    
}
.navbar{
  background-color: aqua;
  border: 2px solid red;
  height: 10vh;
}
.layout{
 display: flex;

}

.sidebar{
  background-color: rgb(30, 125, 146);
   border: 2px solid rgb(81, 255, 0);
   height:90vh ;
   width:20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   align-items: center;
}

.main{
 background-color: gold;
  border: 2px solid red;
  height: 90vh;
  width: 80vw;
  overflow-y: scroll;
  scrollbar-width: 10px;
  --webkit-scrollbar-width:10px;
}
.brand_Name{
    padding: 2px 20px;
    color: rgb(46, 45, 45);
    font-size: 2rem;
    background-color: white;
    border-radius: 40px;
    box-shadow: 3px 5px 5px white;
}

.sidenav_nav{
    height: 50vh;
   list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: .56rem;


}
.nav_item{
   background-color: aliceblue;
   padding: .5rem .78rem;
   width: 100px;
   border-radius: 10px;
}
.nav-links{
  text-decoration: none;
}
.btn{
 display: inline-block;
 width: 120px;
 padding: .5rem .68rem;
 margin-bottom: 4px;
 border-radius: 5px;
 border: none;
}

.card_layout{
 display: flex;
 justify-content: space-around;
 height: 30vh;
 margin-bottom: 30px;
 align-items: center;
}
.bar-img{
    height: 150px;
}

.graph-card{
  width: 300px;
  height: 100px;
  padding: 10px;
}


.parent {
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    border: 3px solid red;
}
.grid-card{
    background-color: azure;
    padding: 2rem;
}

.div1 {
    grid-column: span 3 / span 3;
}

.div2 {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
}

.div4 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
}

.div5 {
    grid-column-start: 4;
    grid-row-start: 3;
}
        