.navbar{
background-color: aquamarine;
display: flex;
/* width: 100%; */
height: 60px;
justify-content: space-around;
align-items: center;
border-radius: 50px;
box-shadow: 4px 5px 6px rgb(70, 232, 191);
position: sticky;
top: 0px;
z-index: 100;
}

.navbar-nav{
    list-style-type: none;
    display: flex;

}

/* anchor tags */
.nav-link{
 text-decoration: none;
 padding: 0px 5px;
 transition: all .5s linear;
}
.nav-link:hover{
    color: red;
}
.btn{
    display: block;
    width: 100px;
    border:1px solid green;
    padding: 3px 8px;
    border-radius: 10px;
    background: blue;
    color: white;
    /* font-size: ./rem; */
}

.parent {

    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
.div1 {
    background-color: aqua;
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
}

.div2 {
    grid-row: span 5 / span 5;
    grid-column-start: 3;
    background-color: white;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 4;
    background-color: pink;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 1;
    background-color: olive;
}

.div5 {
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 3;
    background-color: blue;
}
.div6 {
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 3;
    background-color: azure;
}

.div7 {
    grid-column-start: 5;
    grid-row-start: 5;
    background-color: chartreuse;
    background-color: blueviolet;
    padding: 10px;
}

.div8 {
    grid-column-start: 1;
    grid-row-start: 5;
    background-color: gold;
}

.div9 {
    grid-column-start: 2;
    grid-row-start: 5;
    background-color: orange;
}