@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


/* navbar styles */
.bg-nav-primary{
 background-color: #0D1B2A; 
 border-bottom:0.1px solid white ;
}
.navbar-brand{
   color:white ;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: gold;
}


.hero{
    position: relative;
    min-height: 100vh;
    background-color: #0D1B2A;
    overflow: hidden;
}

.hero::before{
    content: " ";
    position:absolute;
    top: 0;bottom: 0; left: 0;right: 0;
    background-image:
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg,rgba(255,255,255,0.05) 2px ,transparent 1px)
    ;
    background-size: 50px 50px;
    z-index: 1;
    animation: hero 20s linear 0s infinite alternate forwards;
}
.hero .container{
    position: relative;
    z-index: 2;
}

.footer{
     background-color: #0D1B2A;
     color: white;
     border-top:.5px solid white ;
}

.footer-title{
    color: gold;
}
.footer ul>li{
    transition: all .2s linear;
}
.footer ul>li:hover{
    font-weight: bold;
    display: inline;
    border-bottom: 1px solid gold;
}
.footer_brand_links .bi{
    transition: all .3s linear;
}
.footer_brand_links .bi:hover{
    color: gold;
}
























@keyframes hero {
    from{
       background-position: 0 0 ,0 0;
    }to{
   background-position: 40px 40px ,40px 40px;
    }
}